@model IEnumerable<Core.ViewModels.ShopProductListViewModel>

@{

	Layout = ViewBag.Layout;
	var productInventoryId = ViewBag.productInventoryid;
	var utility = new Utitily();
	var vaccineSubscription = utility.vaccineSubscription();
}
<style>

	body {
		counter-reset: Serial; /* / Set the Serial counter to 0 /*/
	}

	tr td:first-child:before {
		counter-increment: Serial; /* / Increment the Serial counter /*/
		content: counter(Serial); /*  / Display the counter /*/
	}
</style>

<!-- Main Wrapper -->
<div class="page-wrapper">

	<div class="content container-fluid">

		<!-- Page Header -->
		<div class="page-header">
			<div class="row align-items-center">
				<div class="col">
					<h3 class="page-title">List Of Inventory</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
						<li class="breadcrumb-item active">Inventory</li>
					</ul>
				</div>
				<div class="col-auto float-right ml-auto">
					<a class="btn add-btn" asp-controller="Sales" asp-action="AddSales"><i class="fa fa-plus"></i> Add Sales</a>
					<div class="view-icons">
						<a href="products.html" class="grid-view btn btn-link"><i class="fa fa-th"></i></a>
						<a href="products-list.html" class="list-view btn btn-link active"><i class="fa fa-bars"></i></a>
					</div>
				</div>
			</div>
		</div>
		<!-- /Page Header -->
		<!-- Search Filter -->
		<div class="row filter-row">
			<div class="col-sm-6 col-md-3">
				<div class="form-group form-focus">
					<input type="text" class="form-control floating">
					<label class="focus-label">Product ID</label>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="form-group form-focus">
					<input type="text" class="form-control floating">
					<label class="focus-label">Product Name</label>
				</div>
			</div>

			<div class="col-sm-6 col-md-3">
				<a href="#" class="btn btn-success btn-block"> Search </a>
			</div>
		</div>
		<!-- /Search Filter -->

		<div class="row">

			<div class="col-md-12">
				<div class="table-responsive">
					<table class="table table-striped custom-table datatable">
						<thead>
							<tr>
								<th>S/N</th>
								<th>Supplier</th>
								<th>Product Name</th>
								<th>Product Category </th>
								<th>Unit</th>
								<th>Qty</th>
								<th>Total Amt of Qty Bought</th>
								<th>Selling Price</th>
								<th></th>
								<th>Action</th>
							</tr>
						</thead>
						@if (Model.Count() > 0 && Model != null)
						{
							<tbody>
								@foreach (var ShopProduct in Model)
								{
									<tr>
										<td></td>
										<td>@ShopProduct.SupplierName</td>
										<td>@ShopProduct.ProductName</td>
										<td>@ShopProduct.ProductCategoryName</td>
										<td>@ShopProduct.UnitName</td>
										<td>@ShopProduct.QuantityBought</td>
										<td>@ShopProduct.TotalAmountofQuantityBought</td>
										<td>@ShopProduct.PricePerUnit</td>
										<td>
											<a class="btn btn-primary btn-rounded" asp-route-id="@ShopProduct.Id" asp-action="ProductLogView" asp-controller="Admin">
												Logs <i class="la la-pie-chart"></i>
											</a>
										</td>
										<td class="text-right">
											<div class="dropdown dropdown-action">
												<a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" data-toggle="modal" data-target="#edit_shopproduct" onclick="editedShopProduct('@ShopProduct.Id')"><i class="fa fa-pencil m-r-5"></i> Edit</a>
													<a class="dropdown-item" data-toggle="modal" data-target="#delete_shopproduct" onclick="deleteShopProduc('@ShopProduct.Id')"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
												</div>
											</div>
										</td>
									</tr>
								}
							</tbody>
						}
					</table>
				</div>
			</div>

		</div>
		<!-- Edit Product Category Modal -->
		<div id="edit_shopproduct" class="modal custom-modal fade" role="dialog">
			<div class="modal-dialog modal-dialog-centered modal-md" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Edit Product Inventories </h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<input class="form-control" type="text" id="shopProductInventoryId" hidden>
							<div class="row">
								<div class="col-6">
									<div class="form-group">
										<label class="col-form-label">Supplier <span class="text-danger">*</span></label>
										<select id="editSupplierId" asp-items="@(new SelectList(ViewBag?.Supplier  ,"Id", "Name" ))" class="form-control"> </select>
									</div>
								</div>
								<div class="col-6">
									<div class="form-group">
										<label class="col-form-label">Product Name <span class="text-danger">*</span></label>
										<input type="text" class="form-control" placeholder="N/A" id="editShopProductName" required>
									</div>
								</div>
							</div>
							<div class="row">
							<div class="col-6">
								<div class="form-group">
									<label class="col-form-label">Price Per Unit <span class="text-danger">*</span></label>
									<input type="number" class="form-control" id="editPricePerUnitProduct" required>
								</div>
							</div>
								<div class="col-6">
									<div class="form-group">
										<label class="col-form-label">Unit <span class="text-danger">*</span></label>
										<select id="editUnit" asp-items="@(new SelectList(ViewBag?.Units ,"Id","Name"))" class="form-control"></select>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-6">
									<div class="form-group">
										<label class="col-form-label">Quantity Bought <span class="text-danger">*</span></label>
										<input type="number" class="form-control" id="editQtyBought" required>
									</div>
								</div>
								<div class="col-6">
									<div class="form-group">
										<label class="col-form-label">Total Amount of Quantity Bought</label>
										<input type="number" class="form-control" placeholder="N/A" id="editPriceOfQtyBought">
									</div>
								</div>
							</div>
							<div class="row">
							<div class="col-12">
								<div class="form-group">
									<label class="col-form-label">Product Category <span class="text-danger">*</span></label>
									<select id="editshopProductInventoryId" asp-items="@(new SelectList(ViewBag?.ProductCategories ,"Id","Name"))" class="form-control"></select>
								</div>
							</div>
								
								
							</div>
							
						<div class="col-sm-12">
							<div class="submit-section">
								<button class="btn btn-primary submit-btn" onclick="editedShopProductToSave()">Submit </button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Edit Product Category Modal -->
		<!-- Delete Product Category Modal -->
		<div class="modal custom-modal fade" id="delete_shopproduct" role="dialog">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body">
						<div class="form-header">
							<h3>Delete Product Inventory</h3>
							<input class="form-control" type="text" hidden id="deleteProductInventoryId">
							<p>Are you sure you want to delete?</p>
						</div>
						<div class="modal-btn delete-action">
							<div class="row">
								<div class="col-6">
									<a class="btn btn-primary continue-btn" onclick="DeleteProductInventory()">Delete</a>
								</div>
								<div class="col-6">
									<a data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Delete Product Category Modal -->
	</div>
	<!-- /Page Content -->
</div>
