@model IEnumerable<Core.ViewModels.SupplierViewModel>

@{
	ViewData["Title"] = "List of Suppliers";
	Layout = ViewBag.Layout;

}
<style>

	body {
		counter-reset: Serial; /* / Set the Serial counter to 0 /*/
	}

	tr td:first-child:before {
		counter-increment: Serial; /* / Increment the Serial counter /*/
		content: counter(Serial); /*  / Display the counter /*/
	}
</style>
<!-- Main Wrapper -->
<div class="page-wrapper">

	<div class="content container-fluid">

		<!-- Page Header -->
		<div class="page-header">
			<div class="row align-items-center">
				<div class="col">
					<h3 class="page-title">Supplier</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
						<li class="breadcrumb-item active">Supplier</li>
					</ul>
				</div>
				<div class="col-auto float-right ml-auto">
					<a href="#" class="btn add-btn" data-toggle="modal" data-target="#add_supplier"><i class="fa fa-plus"></i> Add Supplier</a>
					<div class="view-icons">
						<a href="product.html" class="grid-view btn btn-link"><i class="fa fa-th"></i></a>
						<a href="product.html" class="list-view btn btn-link active"><i class="fa fa-bars"></i></a>
					</div>
				</div>
			</div>
		</div>
		<!-- /Page Header -->
		<!-- Search Filter -->
		@*<div class="row filter-row">
			<div class="col-sm-6 col-md-3">
				<div class="form-group form-focus">
					<input type="text" class="form-control floating">
					<label class="focus-label">Staff ID</label>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="form-group form-focus">
					<input type="text" class="form-control floating">
					<label class="focus-label">Staff Name</label>
				</div>
			</div>

			<div class="col-sm-6 col-md-3">
				<a href="#" class="btn btn-success btn-block"> Search </a>
			</div>
		</div>*@
		<!-- /Search Filter -->

		<div class="row">

			<div class="col-md-12">
				<div class="table-responsive">
					<table class="table table-striped custom-table datatable">
						<thead>
							<tr>
								<th>S/N</th>
								<th>Supplier Name</th>
								<th>Address</th>
								<th>PhoneNumber</th>
								<th>Email</th>
								<th>CompanyName</th>
								<th class="text-right no-sort">Action</th>
							</tr>
						</thead>
						@if (Model.Count() > 0 && Model != null)
						{
							<tbody>
								@foreach (var Suppliers in Model)
								{
									<tr>
										<td></td>
										<td>@Suppliers.Name</td>
										<td>@Suppliers.Address</td>
										<td>@Suppliers.PhoneNumber</td>
										<td>@Suppliers.Email</td>
										<td>@Suppliers.CompanyName</td>
										
										<td class="text-right">
											<div class="dropdown dropdown-action">
												<a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" data-toggle="modal" data-target="#edit_supplier" onclick="EditedSupplier('@Suppliers.Id')"><i class="fa fa-pencil m-r-5"></i> Edit</a>
													<a class="dropdown-item" data-toggle="modal" data-target="#delete_supplier" onclick="EditedSupplier('@Suppliers.Id')"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
												</div>
											</div>
										</td>
									</tr>
								}
							</tbody>
						}
						
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- /Page Content -->
	<!-- Add supplier Modal -->
	<div id="add_supplier" class="modal custom-modal fade" role="dialog">
		<div class="modal-dialog modal-dialog-centered modal-md" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add Supplier</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="col-sm-12">
						<label>Supplier Name <span class="text-danger">*</span></label>
						<input class="form-control" id="supplier_Name" required type="text">
					</div>
					<div class="col-sm-12">
						<label>Email </label>
						<input class="form-control" type="email" id="supplier_Email"> 
					</div>
					<div class="col-sm-12">
						<label>Phone Number <span class="text-danger">*</span></label>
						<input class="form-control" id="supplier_PhoneNumber" required type="number">
					</div>

					<div class="col-sm-12">
						<label>Company/Business Name </label>
						<input class="form-control" id="supplier_CompanyName" type="text" >
					</div>
					<div class="col-sm-12">
						<label>Address <span class="text-danger">*</span></label>
						<input class="form-control" id="supplier_Address" required type="text" >
					</div>

					<div class="col-sm-6" style="margin-left:20%">
						<div class="submit-section">
							<button class="btn btn-primary submit-btn" onclick="RegisterSupplier()">Register </button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Add supplier Modal -->
	<!-- Edit supplier Modal -->
	<div id="edit_supplier" class="modal custom-modal fade" role="dialog">
		<div class="modal-dialog modal-dialog-centered modal-md" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Edit Supplier</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="col-sm-12">
						<label>Supplier Name <span class="text-danger">*</span></label>
						<input class="form-control" id="edit_supplier_Name" required  type="text">
						<input class="form-control" id="edit_supplier_id" required hidden type="text">
					</div>
					<div class="col-sm-12">
						<label>Email </label>
						<input class="form-control" id="edit_supplier_Email"  type="email">
					</div>
					<div class="col-sm-12">
						<label>Phone Number <span class="text-danger">*</span></label>
						<input class="form-control" id="edit_supplier_PhoneNumber" required  type="text">
					</div>
					<div class="col-sm-12">
						<label>Company/Business Name </label>
						<input class="form-control" id="edit_supplier_CompanyName" placeholder="Enter Company Name" type="text" >
					</div>
					<div class="col-sm-12">
						<label>Address <span class="text-danger">*</span></label>
						<input class="form-control" id="edit_supplier_Address" required  type="text" >
					</div>
					<div class="col-sm-6" style="margin-left:20%">
						<div class="submit-section">
							<button class="btn btn-primary submit-btn" onclick="SaveEditedSupplier()">Submit </button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Edit supplier Modal -->
	<!-- Delete supplier Modal -->
	<div class="modal custom-modal fade" id="delete_supplier" role="dialog">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-body">
					<div class="form-header">
						<h3>Delete Supplier</h3>
						<input class="form-control" type="text" hidden id="delete_supplier_id">
						<p>Are you sure you want to delete?</p>
					</div>
					<div class="modal-btn delete-action">
						<div class="row">
							<div class="col-6">
								<a class="btn btn-primary continue-btn" onclick="DeleteSupplier()">Delete</a>
							</div>
							<div class="col-6">
								<a data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Delete supplier Modal -->
</div>