@model IEnumerable<Core.ViewModels.PaymentViewModel>
@{
	Layout = ViewBag.Layout;
}

<!-- Page Wrapper -->
<div class="page-wrapper">

	<!-- Page Content -->
	<div class="content container-fluid">

		<!-- Page Header -->
		<div class="page-header">
			<div class="row align-items-center">
				<div class="col">
					<h3 class="page-title">Payments</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
						<li class="breadcrumb-item active">Payments</li>
					</ul>
				</div>
				
			</div>
		</div>
		<!-- /Page Header -->
		<div class="row">
			<div class="col-md-12">

				<div class="table-responsive">
					<table class="table table-striped custom-table datatable">
						<thead>
							<tr>
								<th> S/N </th>
								<th>Customer Name</th>
								<th>Staff Name</th>
								<th>Order Id</th>
								<th>Payment Date</th>
								<th>Balance</th>
								<th>Payment Method </th>
								<th>Amount Paid </th>
								@*@if (roleAccess.Roles.Count() > 0)
								{
									var role = roleAccess.Roles.FirstOrDefault();
									@if (role.Contains(Utitily.Constants.CompanyAdminRole) || role.Contains(Utitily.Constants.SuperAdminRole))
									{
										<th class="text-right">Action</th>
									}
									else
									{
										@if (canAccess != null)
										{
											@if (canAccess.Count() > 0)
											{
												@if (canAccess.Any(c => c.ScreenId == (int)ScreenEnums.CancelBooking && c.ScreenChecked == true))
												{
													<th class="text-right">Action</th>
												}
											}
										}
									}
								}*@

							</tr>
						</thead>

						@if (Model.Count() > 0 && Model != null)
						{
							<tbody>
								@foreach (var item in Model)
								{
									<tr>
										<td></td>
										<td>
											<h2 class="table-avatar">
												@item.CustomerName
											</h2>
										</td>
										<td>@item.StaffName</td>
										<td>@item.OrderId</td>
										<td>@item.PaymentDate.ToString("d")</td>
										<td><span class="badge bg-inverse-success text_large">&#x20A6;@item.Balance</span></td>
										<td>@item.PaymentMethod</td>
										<td><span class="badge bg-inverse-primary text_large">&#x20A6;@item.AmountPaid</span></td>
										@*@if (roleAccess.Roles.Count() > 0)
										{
											var role = roleAccess.Roles.FirstOrDefault();
											@if (role.Contains(Utitily.Constants.CompanyAdminRole) || role.Contains(Utitily.Constants.SuperAdminRole))
											{
												<td class="text-right">
													<div class="dropdown dropdown-action">
														<a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
														<div class="dropdown-menu dropdown-menu-right">
															<a class="dropdown-item" data-toggle="modal" data-target="#edit_salary" onclick="getCustomerBookingToEdit('@item.Id')"><i class="fa fa-pencil m-r-5"></i> Edit</a>
															<a class="dropdown-item" onclick="getCustomerBookingToDelete('@item.Id')" data-toggle="modal" data-target="#delete_salary"><i class="fa fa-trash-o m-r-5"></i> Cancel</a>
														</div>
													</div>
												</td>
											}
											else
											{
												@if (canAccess != null)
												{
													@if (canAccess.Count() > 0)
													{
														@if (canAccess.Any(c => c.ScreenId == (int)ScreenEnums.CancelBooking && c.ScreenChecked == true))
														{
															<td class="text-right">
																<div class="dropdown dropdown-action">
																	<a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
																	<div class="dropdown-menu dropdown-menu-right">
																		<a class="dropdown-item" data-toggle="modal" data-target="#edit_salary" onclick="getCustomerBookingToEdit('@item.Id')"><i class="fa fa-pencil m-r-5"></i> Edit</a>
																		<a class="dropdown-item" onclick="getCustomerBookingToDelete('@item.Id')" data-toggle="modal" data-target="#delete_salary"><i class="fa fa-trash-o m-r-5"></i> Cancel</a>
																	</div>
																</div>
															</td>
														}
													}
												}

											}
										}
*@
									</tr>
								}
							</tbody>
						}
					</table>
				</div>

			</div>
		</div>
	</div>
</div>

<!-- /Page Content -->
